In [1]:
import pandas as pd
import numpy as np
import pandas_profiling

In [2]:
#读取数据
path = "C:/Github/pandas_exercises/01_Getting_&_Knowing_Your_Data/Chipotle/chipotle.xlsx"
chipo = pd.read_excel(path)

In [3]:
#数据预处理
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [19]:
len(chipo)

4622

In [20]:
#有重复行，去重
#chipo[chipo.duplicated()]
chipo.drop_duplicates(inplace=True)
len(chipo)

4563

In [27]:
#item_price转成数值型
chipo.item_price = chipo.item_price.apply(lambda s: float(s[1:]))

In [29]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4563 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4563 non-null int64
quantity              4563 non-null int64
item_name             4563 non-null object
choice_description    3335 non-null object
item_price            4563 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 213.9+ KB

In [39]:
#总体销售情况：sku数量，销售总额，订单数，数量，客单价，件单价

order_id    4230110
dtype: int64

In [41]:
group = chipo.groupby('item_name')

In [43]:
group.aggregate(np.sum).head()

                       order_id  quantity  item_price
item_name
6 Pack Soft Drink         52322        55      356.95
Barbacoa Bowl             53396        65      663.11
Barbacoa Burrito          72891        90      885.50
Barbacoa Crispy Tacos      5613        12      120.21
Barbacoa Salad Bowl        9132         9       97.01

In [44]:
group.agg([np.sum, np.mean, np.std])

                                      order_id                           \
                                           sum         mean         std
item_name
6 Pack Soft Drink                        52322   968.925926  537.830402
Barbacoa Bowl                            53396   821.476923  542.309359
Barbacoa Burrito                         72891   809.900000  547.887815
Barbacoa Crispy Tacos                     5613   510.272727  421.439934
Barbacoa Salad Bowl                       9132  1014.666667  454.470571
Barbacoa Soft Tacos                      18725   749.000000  465.655094
Bottled Water                           166833  1076.341935  482.817885
Bowl                                       472   236.000000   60.811183
Burrito                                   1550   258.333333   49.078169
Canned Soda                              74804   733.372549  531.174281
Canned Soft Drink                       296817  1023.506897  545.169014
Carnitas Bowl                            62742   922.676471  509.253315
Carnitas Burrito                         51652   875.457627  556.825743
Carnitas Crispy Tacos                     5868   838.285714  592.813269
Carnitas Salad                            1500  1500.000000         NaN
Carnitas Salad Bowl                       6693  1115.500000  458.401025
Carnitas Soft Tacos                      37673   941.825000  504.494207
Chicken Bowl                            704980   983.235704  504.089806
Chicken Burrito                         490718   898.750916  529.215917
Chicken Crispy Tacos                     47382  1008.127660  500.469763
Chicken Salad                            10465  1162.777778  531.935094
Chicken Salad Bowl                      117104  1064.581818  527.530831
Chicken Soft Tacos                       94665   852.837838  519.252567
Chips                                   204975   985.456731  519.744659
Chips and Fresh Tomato Salsa            100419   912.900000  520.915354
Chips and Guacamole                     443669   936.010549  553.162270
Chips and Mild Fresh Tomato Salsa          279   279.000000         NaN
Chips and Roasted Chili Corn Salsa       14999   681.772727  363.929079
Chips and Roasted Chili-Corn Salsa       17462   970.111111  418.975205
Chips and Tomatillo Green Chili Salsa    41170   957.441860  585.679146
Chips and Tomatillo Red Chili Salsa      43159   938.239130  486.612060
Chips and Tomatillo-Green Chili Salsa    21826   704.064516  577.815711
Chips and Tomatillo-Red Chili Salsa      17720   932.631579  481.395219
Crispy Tacos                               434   217.000000    0.000000
Izze                                      9936   522.947368  464.322502
Nantucket Nectar                         21814   807.925926  530.078436
Salad                                     1150   575.000000    0.000000
Side of Chips                            84769   839.297030  476.118925
Steak Bowl                              192568   916.990476  501.073708
Steak Burrito                           327829   898.161644  536.942636
Steak Crispy Tacos                       35818  1023.371429  501.807972
Steak Salad                               2362   590.500000  545.017737
Steak Salad Bowl                         29590  1020.344828  540.599817
Steak Soft Tacos                         50177   912.309091  614.537793
Veggie Bowl                              72270   850.235294  527.307303
Veggie Burrito                           80962   852.231579  520.757293
Veggie Crispy Tacos                        668   668.000000         NaN
Veggie Salad                              7265  1210.833333  318.122880
Veggie Salad Bowl                        17303   961.277778  613.598240
Veggie Soft Tacos                         5520   788.571429  456.184852

                                      quantity                     item_price  \
                                           sum      mean       std        sum
item_name
6 Pack Soft Drink                           55  1.018519  0.136083     356.95
Barbacoa Bowl                               65  1.000000  0.000000     663.11
Barbacoa Burrito                            90  1.000000  0.000000     885.50
Barbacoa Crispy Tacos                       12  1.090909  0.301511     120.21
Barbacoa Salad Bowl                          9  1.000000  0.000000      97.01
Barbacoa Soft Tacos                         25  1.000000  0.000000     250.46
Bottled Water                              204  1.316129  1.055319     292.06
Bowl                                         4  2.000000  1.414214      29.60
Burrito                                      6  1.000000  0.000000      44.40
Canned Soda                                124  1.215686  0.479840     135.16
Canned Soft Drink                          340  1.172414  0.503892     425.00
Carnitas Bowl                               71  1.044118  0.269539     736.71
Carnitas Burrito                            60  1.016949  0.130189     597.83
Carnitas Crispy Tacos                        8  1.142857  0.377964      77.96
Carnitas Salad                               1  1.000000       NaN       8.99
Carnitas Salad Bowl                          6  1.000000  0.000000      66.34
Carnitas Soft Tacos                         40  1.000000  0.000000     375.94
Chicken Bowl                               752  1.048815  0.228217    7259.75
Chicken Burrito                            584  1.069597  0.306969    5509.57
Chicken Crispy Tacos                        50  1.063830  0.247092     472.13
Chicken Salad                                9  1.000000  0.000000      81.09
Chicken Salad Bowl                         123  1.118182  0.324301    1228.75
Chicken Soft Tacos                         116  1.045045  0.208344    1070.85
Chips                                      227  1.091346  0.305065     487.89
Chips and Fresh Tomato Salsa               130  1.181818  1.369268     361.36
Chips and Guacamole                        501  1.056962  0.265978    2178.79
Chips and Mild Fresh Tomato Salsa            1  1.000000       NaN       3.00
Chips and Roasted Chili Corn Salsa          23  1.045455  0.213201      67.85
Chips and Roasted Chili-Corn Salsa          18  1.000000  0.000000      43.02
Chips and Tomatillo Green Chili Salsa       45  1.046512  0.213083     132.75
Chips and Tomatillo Red Chili Salsa         48  1.043478  0.206185     141.60
Chips and Tomatillo-Green Chili Salsa       33  1.064516  0.249731      78.87
Chips and Tomatillo-Red Chili Salsa         24  1.263158  0.653376      57.36
Crispy Tacos                                 2  1.000000  0.000000      14.80
Izze                                        19  1.000000  0.000000      64.41
Nantucket Nectar                            29  1.074074  0.266880      98.31
Salad                                        2  1.000000  0.000000      14.80
Side of Chips                              110  1.089109  0.722482     185.90
Steak Bowl                                 220  1.047619  0.234814    2250.94
Steak Burrito                              383  1.049315  0.240834    3818.94
Steak Crispy Tacos                          36  1.028571  0.169031     357.34
Steak Salad                                  4  1.000000  0.000000      35.66
Steak Salad Bowl                            31  1.068966  0.257881     343.59
Steak Soft Tacos                            56  1.018182  0.134840     536.05
Veggie Bowl                                 87  1.023529  0.152477     867.99
Veggie Burrito                              97  1.021053  0.205196     934.77
Veggie Crispy Tacos                          1  1.000000       NaN       8.49
Veggie Salad                                 6  1.000000  0.000000      50.94
Veggie Salad Bowl                           18  1.000000  0.000000     182.50
Veggie Soft Tacos                            8  1.142857  0.377964      73.96


                                            mean        std
item_name
6 Pack Soft Drink                       6.610185   0.883177
Barbacoa Bowl                          10.201692   1.265312
Barbacoa Burrito                        9.838889   1.144220
Barbacoa Crispy Tacos                  10.928182   2.800739
Barbacoa Salad Bowl                    10.778889   1.317616
Barbacoa Soft Tacos                    10.018400   1.191937
Bottled Water                           1.884258   1.580039
Bowl                                   14.800000  10.465180
Burrito                                 7.400000   0.000000
Canned Soda                             1.325098   0.523026
Canned Soft Drink                       1.465517   0.629866
Carnitas Bowl                          10.833971   3.622600
Carnitas Burrito                       10.132712   1.630111
Carnitas Crispy Tacos                  11.137143   3.263917
Carnitas Salad                          8.990000        NaN
Carnitas Salad Bowl                    11.056667   1.290994
Carnitas Soft Tacos                     9.398500   0.684508
Chicken Bowl                           10.125174   2.500370
Chicken Burrito                        10.090788   2.824354
Chicken Crispy Tacos                   10.045319   2.260303
Chicken Salad                           9.010000   1.121194
Chicken Salad Bowl                     11.170455   3.986349
Chicken Soft Tacos                      9.647297   2.177677
Chips                                   2.345625   0.656216
Chips and Fresh Tomato Salsa            3.285091   4.075396
Chips and Guacamole                     4.596603   1.212324
Chips and Mild Fresh Tomato Salsa       3.000000        NaN
Chips and Roasted Chili Corn Salsa      3.084091   0.628942
Chips and Roasted Chili-Corn Salsa      2.390000   0.000000
Chips and Tomatillo Green Chili Salsa   3.087209   0.628594
Chips and Tomatillo Red Chili Salsa     3.078261   0.608244
Chips and Tomatillo-Green Chili Salsa   2.544194   0.596857
Chips and Tomatillo-Red Chili Salsa     3.018947   1.561569
Crispy Tacos                            7.400000   0.000000
Izze                                    3.390000   0.000000
Nantucket Nectar                        3.641111   0.904724
Salad                                   7.400000   0.000000
Side of Chips                           1.840594   1.220995
Steak Bowl                             10.718762   2.676885
Steak Burrito                          10.462849   2.579642
Steak Crispy Tacos                     10.209714   1.827732
Steak Salad                             8.915000   0.150000
Steak Salad Bowl                       11.847931   3.511170
Steak Soft Tacos                        9.746364   1.523743
Veggie Bowl                            10.211647   1.658164
Veggie Burrito                          9.839684   2.795877
Veggie Crispy Tacos                     8.490000        NaN
Veggie Salad                            8.490000   0.000000
Veggie Salad Bowl                      10.138889   1.278275
Veggie Soft Tacos                      10.565714   3.090048

In [51]:
chipo.agg([np.count_nonzero, np.sum])

     choice_description
          count_nonzero
0                     1
1                     1
2                     1
3                     1
4                     1
...                 ...
4617                  1
4618                  1
4619                  1
4620                  1
4621                  1

[4563 rows x 1 columns]