# Getting and Knowing your Data
数据探索 20190815做完一遍

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries
导入需要的库

In [1]:
#chipotle是连锁餐馆的意思
import pandas as pd
import numpy as np
import pandas_profiling

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). 
从如下地址导入数据集

#原始的数据集在Github上，我将它以Excel形式存到本地了。
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv' #目标文件的网址
chipo = pd.read_csv(url, sep='\t') #分隔符是必须的

#将数据样例保存到本地
#chipo.to_excel('D:\\Github\pandas_exercises\\01_Getting_&_Knowing_Your_Data\\Chipotle\\chipotle.xlsx', index=False)

### Step 3. Assign it to a variable called chipo.
将数据集存入一个名为chipo的数据框内

In [3]:
chipo = pd.read_excel("C:\\Github\\pandas_exercises\\01_Getting_&_Knowing_Your_Data\\Chipotle\\chipotle.xlsx")

### Step 4. See the first 10 entries
查看前10行数据

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?
数据集有多少行记录？
observations 记录数，可做“行”理解

In [5]:
print(len(chipo))

4622

In [7]:
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?
数据集有多少列

In [10]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.
打印所有的列名

In [11]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?
数据集的索引

In [12]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most ordered item?
销售数量(quantity）最多的item_name是什么？

In [13]:
item_qty = chipo.groupby('item_name')['quantity'].sum()

In [15]:
item_qty.idxmax()

'Chicken Bowl'

In [16]:
item_qty.sort_values(ascending=False).head()

item_name
Chicken Bowl           761
Chicken Burrito        591
Chips and Guacamole    506
Steak Burrito          386
Canned Soft Drink      351
Name: quantity, dtype: int64

### Step 10. How many items were ordered?
有多少种不重复的item_name?

In [17]:
len(item_qty)

50

### Step 11. What was the most ordered item in the choice_description column?
在choice_description中，下单次数最多的商品是什么？

### Step 12. How many items were orderd in total?
求总数量（quantity）

In [18]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float
item_price一列是字符串，要去掉$符号，将字符型数字转换成浮点型

In [19]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [21]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))

### Step 14. How much was the revenue for the period in the dataset?
求总订单金额

In [22]:
chipo['item_price'].sum()

34500.16

### Step 16. What is the average amount per order?
每个订单（order_id)的平均金额

In [23]:
chipo['item_price'].sum() / len(chipo['order_id'].value_counts())

18.811428571428575