# Online Retails Purchase

### Introduction:



### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Visualization/Online_Retail/Online_Retail.csv).

### Step 3. Assign it to a variable called online_rt

In [5]:
online_rt = pd.read_excel('C:/Github/pandas_exercises/07_Visualization/Online_Retail/Online_Retail.xlsx')

KeyboardInterrupt:

In [14]:
online_rt.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom

### Step 4. Create a histogram with the 10 countries that have the most 'Quantity' ordered except UK

### Step 5.  Exclude negative Quatity entries

### Step 6. Create a scatterplot with the Quantity per UnitPrice by CustomerID for the top 3 Countries

### BONUS: Create your own question and answer it.