# US - Baby Names
婴孩姓名

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [49]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [50]:
baby_names = pd.read_csv('c:/Github/pandas_exercises/06_Stats/US_Baby_Names/US_Baby_Names_right.csv', sep=',')

In [51]:
baby_names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1016395 entries, 0 to 1016394
Data columns (total 7 columns):
Unnamed: 0    1016395 non-null int64
Id            1016395 non-null int64
Name          1016395 non-null object
Year          1016395 non-null int64
Gender        1016395 non-null object
State         1016395 non-null object
Count         1016395 non-null int64
dtypes: int64(4), object(3)
memory usage: 54.3+ MB

### Step 4. See the first 10 entries

In [52]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [53]:
del baby_names['Unnamed: 0']

In [54]:
del baby_names['Id']

### Step 6. Is there more male or female names in the dataset?
我的理解：计算男女各自姓名的总次数

In [55]:
len(baby_names)

1016395

In [56]:
baby_names['Gender'].value_counts()

F    558846
M    457549
Name: Gender, dtype: int64

### Step 7. Group the dataset by name and assign to names
按Name分组，将Count（起名次数）加总，得到每个姓名的起名的次数

In [57]:
names = baby_names.groupby('Name')

### Step 8. How many different names exist in the dataset?

In [58]:
len(names)

17632

### Step 9. What is the name with most occurrences?

In [59]:
names['Count'].sum().idxmax()

'Jacob'

### Step 10. How many different names have the least occurrences?

In [60]:
names['Count'].sum().value_counts()

5        2578
6         751
10        700
11        474
12        279
         ...
19616       1
1177        1
3224        1
15502       1
13745       1
Name: Count, Length: 3279, dtype: int64

### Step 11. What is the median name occurrence?

In [61]:
names['Count'].sum().median()

49.0

### Step 12. What is the standard deviation of names?

In [62]:
names['Count'].sum().std()

11006.069467891111

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [63]:
names['Count'].sum().describe()

count     17632.000000
mean       2008.932169
std       11006.069468
min           5.000000
25%          11.000000
50%          49.000000
75%         337.000000
max      242874.000000
Name: Count, dtype: float64