# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [18]:
s1 = pd.Series(np.random.randint(1, 5, 100))
s2 = pd.Series(np.random.randint(1, 4, 100))
s3 = pd.Series(np.random.randint(10000, 30000, 100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [19]:
housemk = pd.DataFrame([s1, s2, s3])
housemk = housemk.T

In [20]:
housemk.head()

   0  1      2
0  3  1  12053
1  2  3  26653
2  3  2  23993
3  3  1  10211
4  4  1  28840

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [21]:
housemk.columns = ['bedrs', 'bathrs', 'price_sqr_meter']

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [22]:
bigcolumn = pd.concat([s1, s2, s3])

### Step 6. Ops it seems it is going only until index 99. Is it true?

In [24]:
bigcolumn.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9,
            ...
            90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
           dtype='int64', length=300)

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [27]:
bigcolumn = bigcolumn.reset_index()