# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [2]:
crime = pd.read_csv('C:/Github/pandas_exercises/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv')

### Step 4. What is the type of the columns?

In [3]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [6]:
crime.Year = pd.to_datetime(crime.Year, format='%Y')

### Step 6. Set the Year column as the index of the dataframe

In [8]:
crime = crime.set_index('Year')

### Step 7. Delete the Total column

In [9]:
del crime['Total']

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [10]:
crime.resample('10YS').agg({name: 'mean' if name == 'Population' else 'sum' for name in crime.columns})

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1960-01-01,191505317.5,4134930,45160900,106180,236720,1633510,2158520,13321100,26547700,5292100
1970-01-01,212119329.8,9607930,91383800,192230,554570,4159020,4702120,28486000,53157800,9739900
1980-01-01,237137006.9,14074328,117048900,206439,865639,5383109,7619130,33073494,72040253,11935411
1990-01-01,261282525.8,17527048,119053499,211664,998827,5748930,10568963,26750015,77679366,14624418
2000-01-01,294796911.7,13968056,100944369,163068,922499,4230366,8652124,21565176,67970291,11412834
2010-01-01,314029261.4,6072017,44095950,72867,421059,1749809,3764142,10125170,30401698,3569080

### Step 9. What is the most dangerous decade to live in the US?

In [11]:
crime.idxmax()

Population           2014-01-01
Violent              1992-01-01
Property             1991-01-01
Murder               1991-01-01
Forcible_Rape        1992-01-01
Robbery              1991-01-01
Aggravated_assault   1993-01-01
Burglary             1980-01-01
Larceny_Theft        1991-01-01
Vehicle_Theft        1991-01-01
dtype: datetime64[ns]