# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [19]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv'
drinks = pd.read_csv(url, sep=',')

In [25]:
drinks = drinks.reindex(columns=[ 'continent', 'country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol'] ) #重新排列一下字段

In [6]:
#将数据集保存到本地
#drinks.to_excel("D:\\Github\pandas_exercises\\03_Grouping\\Alcohol_Consumption\\alcohol_consumption.xlsx", index=False)

### Step 4. Which continent drinks more beer on average?
哪个洲的啤酒beer_servings的平均消费量最高？

In [27]:
cont_beer = drinks.groupby(by='continent').beer_servings.mean()

In [29]:
cont_beer.idxmax()

'EU'

### Step 5. For each continent print the statistics for wine consumption.
每个洲的白酒消费的描述性统计

In [30]:
cont_wine = drinks.groupby('continent').wine_servings.describe()

In [31]:
cont_wine

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### Step 6. Print the mean alcohol consumption per continent for every column
对每列均聚合求均值

In [32]:
drinks.groupby('continent').mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

### Step 7. Print the median alcoohol consumption per continent for every column

In [36]:
drinks.groupby('continent').median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

### Step 8. Print the mean, min and max values for spirit consumption per continent
#### This time output a DataFrame
对每个洲的spirit的消费分别求均值、最小值和最大值

In [1]:
drinks.groupby('continent').spirit_servings.agg(['mean', 'min', 'max']) #先按continent分组，再对spirit_servings列按mean、min、max聚合

NameError: name 'drinks' is not defined