# Getting and Knowing your Data
数据探索 20190815做完一遍

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries
导入需要的库

In [1]:
#chipotle是连锁餐馆的意思
import pandas as pd
import numpy as np
import pandas_profiling

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). 
从如下地址导入数据集

#原始的数据集在Github上，我将它以Excel形式存到本地了。
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv' #目标文件的网址
chipo = pd.read_csv(url, sep='\t') #分隔符是必须的

#将数据样例保存到本地
#chipo.to_excel('D:\\Github\pandas_exercises\\01_Getting_&_Knowing_Your_Data\\Chipotle\\chipotle.xlsx', index=False)

### Step 3. Assign it to a variable called chipo.
将数据集存入一个名为chipo的数据框内

In [2]:
path = 'C:/Github/pandas_exercises/01_Getting_&_Knowing_Your_Data/Chipotle/Chipotle.xlsx'
chipo = pd.read_excel(path)

### Step 4. See the first 10 entries
查看前10行数据

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?
数据集有多少行记录？
observations 记录数，可做“行”理解

In [27]:
chipo.info() #这个方法很有用的样子

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [28]:
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?
数据集有多少列

In [6]:
chipo.shape[1]

5

In [7]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.
打印所有的列名

In [8]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?
数据集的索引

In [9]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most ordered item?
销售数量(quantity）最多的item_name是什么？

In [28]:
item_qty = chipo.groupby('item_name').quantity.sum() #按item_name分组，将数量quantity进行SUM聚合，

In [29]:
item_qty.sort_values(ascending=False).head(1) #倒序排序取前几位

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

In [30]:
#另一种方法取最大值的索引
item_qty.idxmax()

'Chicken Bowl'

### Step 10. How many items were ordered?
有多少种不重复的item_name?

In [56]:
len(chipo.item_name.unique()) #先取不重复的item_name，再计数

50

In [15]:
chipo.item_name.nunique() #不重复计数

50

In [58]:
#Or
chipo.item_name.value_counts().count()

50

### Step 11. What was the most ordered item in the choice_description column?
在choice_description中，下单次数最多的商品是什么？

In [43]:
chipo[['order_id', 'choice_description']].drop_duplicates().choice_description.value_counts().head()

[Diet Coke]                                                                          133
[Coke]                                                                               115
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                40
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     34
Name: choice_description, dtype: int64

### Step 12. How many items were orderd in total?
求总数量（quantity）

In [4]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float
item_price一列是字符串，要去掉$符号，将字符型数字转换成浮点型

In [3]:
chipo.item_price = chipo.item_price.apply(lambda s: float(s[1:]))#用到了apply方法和lambda函数

In [73]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.6+ KB

### Step 14. How much was the revenue for the period in the dataset?
求总订单金额

In [4]:
#在数据集中新增一列revenue
chipo['revenue'] = chipo.quantity * chipo.item_price

In [9]:
#金额求和
chipo.revenue.sum()

39237.02

### Step 16. What is the average amount per order?
每个订单（order_id)的平均金额

In [10]:
chipo.groupby('order_id').revenue.sum().mean()

21.394231188658654

In [6]:
chipo.profile_report(title='chipotle')

Tab(children=(HTML(value='<div id="overview-content" class="row variable spacing">\n    <div class="row">\n   …

In [8]:
chipo.drop_duplicates()

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75