# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://github.com/guipsamora/pandas_exercises/blob/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [2]:
df = pd.read_csv('C:/Github/pandas_exercises/04_Apply/Students_Alcohol_Consumption/student-mat.csv')

In [3]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [4]:
df = df.loc[:, 'school':'guardian']

### Step 5. Create a lambda function that captalize strings.
意思是创建一个可以将字符串字母大写化的lambda函数

In [5]:
cap = lambda x: x.upper() #x是单元格对象

In [10]:
cap1 = lambda s: s.str.upper() #s是Series对象

### Step 6. Capitalize both Mjob and Fjob

In [7]:
df[['Mjob', 'Fjob']].apply({'Mjob': cap, 'Fjob': cap})

         Mjob      Fjob
0     AT_HOME   TEACHER
1     AT_HOME     OTHER
2     AT_HOME     OTHER
3      HEALTH  SERVICES
4       OTHER     OTHER
..        ...       ...
390  SERVICES  SERVICES
391  SERVICES  SERVICES
392     OTHER     OTHER
393  SERVICES     OTHER
394     OTHER   AT_HOME

[395 rows x 2 columns]

In [12]:
df[['Mjob', 'Fjob']] = df[['Mjob', 'Fjob']].apply(cap1)

### Step 7. Print the last elements of the data set.

In [13]:
df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
390,MS,M,20,U,LE3,A,2,2,SERVICES,SERVICES,course,other
391,MS,M,17,U,LE3,T,3,1,SERVICES,SERVICES,course,mother
392,MS,M,21,R,GT3,T,1,1,OTHER,OTHER,course,other
393,MS,M,18,R,LE3,T,3,2,SERVICES,OTHER,course,mother
394,MS,M,19,U,LE3,T,1,1,OTHER,AT_HOME,course,father

### Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker
majority是成年的意思，即创建一个函数判断是否成年。

In [14]:
def maj(age):
    return True if age >= 18 else False

In [15]:
df['legal_drinker'] = df.age.apply(maj)

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise
对数值型的列乘以10，其他的不变

In [16]:
def time10(s):
    return s * 10 if s.dtype == np.int64 else s

In [18]:
df.apply(time10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,180,U,GT3,A,40,40,AT_HOME,TEACHER,course,mother,True
1,GP,F,170,U,GT3,T,10,10,AT_HOME,OTHER,course,father,False
2,GP,F,150,U,LE3,T,10,10,AT_HOME,OTHER,other,mother,False
3,GP,F,150,U,GT3,T,40,20,HEALTH,SERVICES,home,mother,False
4,GP,F,160,U,GT3,T,30,30,OTHER,OTHER,home,father,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,200,U,LE3,A,20,20,SERVICES,SERVICES,course,other,True
391,MS,M,170,U,LE3,T,30,10,SERVICES,SERVICES,course,mother,False
392,MS,M,210,R,GT3,T,10,10,OTHER,OTHER,course,other,True
393,MS,M,180,R,LE3,T,30,20,SERVICES,OTHER,course,mother,True
394,MS,M,190,U,LE3,T,10,10,OTHER,AT_HOME,course,father,True