# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [13]:
iris = pd.read_csv('D:/Github/pandas_exercises/10_Deleting/Iris/iris.data', sep=',', header=None)

In [14]:
iris.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

### Step 4. Create columns for the dataset
列重命名

In [15]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class
iris.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']

### Step 5.  Is there any missing value in the dataframe?

In [16]:
iris.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

In [17]:
#OR
iris.info()
#No missing value

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
class           150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [18]:
iris.loc[9:29, 'petal_length'] = np.nan

### Step 7. Good, now lets substitute the NaN values to 1.0

In [19]:
iris.fillna(value=1.0, inplace=True)

### Step 8. Now let's delete the column class

In [20]:
del iris['class']

### Step 9.  Set the first 3 rows as NaN

In [21]:
iris[:3] = np.nan

### Step 10.  Delete the rows that have NaN

In [23]:
iris = iris.dropna()

### Step 11. Reset the index so it begins with 0 again

In [24]:
iris.reset_index(drop=True, inplace=True)

### BONUS: Create your own question and answer it.