# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_excel('D:/Github/pandas_exercises/02_Filtering_&_Sorting/Chipotle/chipotle.xlsx')

### Step 4. How many products cost more than $10.00?
有歧义，cost指单价还是销售额？我这里按单价来处理

In [4]:
chipo.item_price = chipo.item_price.apply(lambda x: float(x[1:]))

In [6]:
len(chipo[chipo.item_price > 10])

1130

### Step 6. Sort by the name of the item

In [8]:
chipo.sort_values('item_name').head()

      order_id  quantity          item_name choice_description  item_price
3389      1360         2  6 Pack Soft Drink        [Diet Coke]       12.98
341        148         1  6 Pack Soft Drink        [Diet Coke]        6.49
1849       749         1  6 Pack Soft Drink             [Coke]        6.49
1860       754         1  6 Pack Soft Drink        [Diet Coke]        6.49
2713      1076         1  6 Pack Soft Drink             [Coke]        6.49

### Step 7. What was the quantity of the most expensive item ordered?
最贵应该指单价最高

In [10]:
chipo.sort_values('item_price', ascending=False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times were a Veggie Salad Bowl ordered?
包含Veggie Salad Bowl的订单记录有多少行

In [13]:
len(chipo[chipo.item_name=='Veggie Salad Bowl'])

18

### Step 9. How many times people orderd more than one Canned Soda?
数量>1的Canned Soda有多少订单

In [23]:
len(chipo[(chipo.item_name=='Canned Soda') & (chipo.quantity > 1)]['order_id'].unique())

18