# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [4]:
wine = pd.read_csv('C:/Github/pandas_exercises/10_Deleting/Wine/wine.data', sep=',', header=None)

In [5]:
wine.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [7]:
wine = wine.drop(columns=[0, 3, 6, 8, 10, 12, 13])

In [8]:
wine.head()

      1     2     4    5     7     9     11
0  14.23  1.71  15.6  127  3.06  2.29  1.04
1  13.20  1.78  11.2  100  2.76  1.28  1.05
2  13.16  2.36  18.6  101  3.24  2.81  1.03
3  14.37  1.95  16.8  113  3.49  2.18  0.86
4  13.24  2.59  21.0  118  2.69  1.82  1.04

### Step 5. Assign the columns as below:

The attributes are (dontated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [9]:
columns = ['alcohol', 'malic_acid', 'alcalinity_of_ash', 'magnesium', 'flavanoids', 'proanthocyanins', 'hue']

In [11]:
wine.columns = columns

In [12]:
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,14.23,1.71,15.6,127,3.06,2.29,1.04
1,13.20,1.78,11.2,100,2.76,1.28,1.05
2,13.16,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,113,3.49,2.18,0.86
4,13.24,2.59,21.0,118,2.69,1.82,1.04

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [15]:
wine.loc[:2, 'alcohol'] = np.nan

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [17]:
wine.loc[2:3, 'magnesium'] = np.nan

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [19]:
wine = wine.fillna({'alcohol': 10, 'magnesium': 100})

### Step 9. Count the number of missing values

In [20]:
wine.isnull().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [21]:
rand_num = np.random.randint(0, 10, 10)

### Step 11.  Set the rows of the random numbers in the column alcohol
将alcohol列中对应arr的值的位置置为空值

In [25]:
wine.loc[0:9, 'alcohol'] = np.nan

### Step 12.  How many missing values do we have?

In [26]:
wine.isna().sum()

alcohol              10
malic_acid            0
alcalinity_of_ash     0
magnesium             0
flavanoids            0
proanthocyanins       0
hue                   0
dtype: int64

### Step 14. Print only the non-null values in alcohol

In [30]:
wine.loc[wine.alcohol.notnull(), 'alcohol']

10     14.10
11     14.12
12     13.75
13     14.75
14     14.38
       ...
173    13.71
174    13.40
175    13.27
176    13.17
177    14.13
Name: alcohol, Length: 168, dtype: float64

### Step 13. Delete the rows that contain missing values

In [32]:
wine = wine.dropna()

### Step 15.  Reset the index, so it starts with 0 again

In [34]:
wine = wine.reset_index()

### BONUS: Create your own question and answer it.